@import "tailwindcss";
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  src: url("/font/Nunito/Nunito-Medium.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url("/font/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Poppins, sans-serif";
  src: url("/public/font/Poppins/Poppins-Regular.ttf");
}
.font-poppins {
  font-family: "Poppins, sans-serif";
}
body {
  background-color: #f6f9ff;
}
.nunito {
  font-family: "Nunito";
}
.open-sans {
  font-family: "Open Sans";
}
.form-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  transition: 200;
}
input:disabled {
  background-color: #e9ecef;
}
.custom-table tr.p-datatable-emptymessage {
  display: none !important;
}
.scroll-white::-webkit-scrollbar {
  width: 5px;
}
.scroll-white::-webkit-scrollbar-track {
  background: #ffffff;
}
.scroll-white::-webkit-scrollbar-thumb {
  background: #19205c;
}